In [0]:
import pandas as pd

In [3]:
%%time
df = pd.read_csv('/content/drive/My Drive/DSO 560/Full+data.csv')[['product_id', 'brand', 'name', 'description', 'brand_category', 'details', 'labels']]

CPU times: user 977 ms, sys: 241 ms, total: 1.22 s
Wall time: 6.92 s

<string>:2: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.

In [4]:
df.head()

                   product_id  ...                labels
0  01DSRPSZTDW2PGK1YWYXJGKZZ0  ...  {"Needs Attributes"}
1  01DSQXJBX0R7DCW7KTAC1SW547  ...      {"Needs Review"}
2  01DPGV8TGRAB993PF7Z3YWG2VR  ...                    {}
3  01DSR8G3F7DBRTMP8THF97XSQ2  ...      {"Needs Review"}
4  01DSR8G5GP519DEDCSKBMWQVK5  ...      {"Needs Review"}

[5 rows x 7 columns]

In [5]:
%%time
tags = pd.read_excel('/content/drive/My Drive/DSO 560/USC+Product+Attribute+Data+03302020.xlsx')

CPU times: user 826 ms, sys: 7.96 ms, total: 834 ms
Wall time: 3.19 s

In [6]:
tags.head()

                   product_id  ... attribute_value
0  01DVBTBPHR8WJTCVEN5AJRHF47  ...           Women
1  01DVA7QRXM928ZM0WWR7HFNTC1  ...          Blacks
2  01DPGV4YRP3Z8J85DASGZ1Y99W  ...          Casual
3  01E1JM43NQ3H17PB22EV3074NX  ...          Modern
4  01DSE8Z2ZDAZKZ2SKCS1E3B3HK  ...          Medium

[5 rows x 4 columns]

In [7]:
tags = df[['product_id']].merge(tags, on = 'product_id', how = 'left')
tags.head()

                   product_id product_color_id attribute_name attribute_value
0  01DSRPSZTDW2PGK1YWYXJGKZZ0              NaN            NaN             NaN
1  01DSQXJBX0R7DCW7KTAC1SW547              NaN            NaN             NaN
2  01DPGV8TGRAB993PF7Z3YWG2VR              NaN            NaN             NaN
3  01DSR8G3F7DBRTMP8THF97XSQ2              NaN            NaN             NaN
4  01DSR8G5GP519DEDCSKBMWQVK5              NaN            NaN             NaN

In [0]:
df['attribute_name'] = tags['attribute_name']
df['attribute_value'] = tags['attribute_value']

In [10]:
%%time
add_tags = pd.read_csv('/content/drive/My Drive/DSO 560/usc_additional_tags.csv')

CPU times: user 92.7 ms, sys: 3.77 ms, total: 96.5 ms
Wall time: 662 ms

In [11]:
add_tags = df[['product_id']].merge(add_tags, on = 'product_id', how = 'left')
add_tags.head()

                   product_id product_color_id attribute_name attribute_value
0  01DSRPSZTDW2PGK1YWYXJGKZZ0              NaN            NaN             NaN
1  01DSQXJBX0R7DCW7KTAC1SW547              NaN            NaN             NaN
2  01DPGV8TGRAB993PF7Z3YWG2VR              NaN            NaN             NaN
3  01DSR8G3F7DBRTMP8THF97XSQ2              NaN            NaN             NaN
4  01DSR8G5GP519DEDCSKBMWQVK5              NaN            NaN             NaN

In [0]:
df['attribute_name'] = df['attribute_name'].fillna(add_tags['attribute_name'])
df['attribute_value'] = df['attribute_value'].fillna(add_tags['attribute_value'])

In [13]:
df.head()

                   product_id  ... attribute_value
0  01DSRPSZTDW2PGK1YWYXJGKZZ0  ...             NaN
1  01DSQXJBX0R7DCW7KTAC1SW547  ...             NaN
2  01DPGV8TGRAB993PF7Z3YWG2VR  ...             NaN
3  01DSR8G3F7DBRTMP8THF97XSQ2  ...             NaN
4  01DSR8G5GP519DEDCSKBMWQVK5  ...             NaN

[5 rows x 9 columns]

In [16]:
train = df[df['attribute_name'].isna() == False]
train.shape

(18470, 9)

In [17]:
test = df[df['attribute_name'].isna() == True]
test.shape

(23903, 9)

In [18]:
%%time
train.to_csv('/content/drive/My Drive/DSO 560/train.csv', index = False)

CPU times: user 253 ms, sys: 11.5 ms, total: 264 ms
Wall time: 296 ms

In [19]:
%%time
test.to_csv('/content/drive/My Drive/DSO 560/test.csv', index = False)

CPU times: user 319 ms, sys: 16.3 ms, total: 335 ms
Wall time: 375 ms