In [0]:
import pandas as pd
import re 
from gensim.parsing.preprocessing import remove_stopwords
import spacy
nlp = spacy.load('en_core_web_sm', disable=['parser', 'ner'])

In [0]:
df = pd.read_csv('/content/drive/Shared drives/DSO 560 NLP Project/left_join.csv')

In [0]:
df = df[['product_id', 'brand', 'product_full_name', 'description', 'brand_category', 'attribute_name', 'attribute_value']]

In [4]:
df.shape

(203118, 7)

In [0]:
df = df.drop_duplicates()

In [6]:
df.head()

                   product_id            brand  ... attribute_name attribute_value
0  01DPGV4YRP3Z8J85DASGZ1Y99W            Frame  ...          style          Casual
2  01DSE8Z2ZDAZKZ2SKCS1E3B3HK  Banana Republic  ...     shoe_width          Medium
4  01E2C3YN4KQ36A0REWZJ89ZN73   FREDA SALVADOR  ...  Primary Color          Blacks
5  01DVCVGDJQC4J8JJ35PKZ4J169            Loewe  ...       category       Accessory
7  01E223GDRKR84THXZ54GJEW60Y            Vince  ...            fit     Semi-Fitted

[5 rows x 7 columns]

In [7]:
df.shape

(134916, 7)

In [0]:
def clean_text(x):
    try:
        x = re.sub(r"[^A-Za-z0-9(),!?\'\`]", " ", x)
        x = re.sub(r"\'s", " \'s", x)
        x = re.sub(r"\'ve", " \'ve", x)
        x = re.sub(r"n\'t", " n\'t", x)
        x = re.sub(r"\'re", " \'re", x)
        x = re.sub(r"\'d", " \'d", x)
        x = re.sub(r"\'ll", " \'ll", x)
        x = re.sub(r",", " , ", x)
        x = re.sub(r"!", " ! ", x)
        x = re.sub(r"\(", "", x)
        x = re.sub(r"\)", "", x)
        x = re.sub(r"\?", "", x)
        x = re.sub(r"/", "", x)
        x = re.sub(r"\s{2,}", " ", x)
        return x.lower()
    except:
        return ''

In [0]:
def lemmatizer(x):
    return ' '.join([token.lemma_ for token in nlp(x)])

In [10]:
%%time
for key in df.columns[1:]:
    print(key)
    df[key] = df[key].apply(clean_text)
    df[key] = df[key].apply(remove_stopwords)
    df[key] = df[key].apply(lemmatizer)

brand
product_full_name
description
brand_category
attribute_name
attribute_value
CPU times: user 26min 14s, sys: 1.3 s, total: 26min 15s
Wall time: 26min 17s

In [11]:
df.head()

                   product_id            brand  ... attribute_name attribute_value
0  01DPGV4YRP3Z8J85DASGZ1Y99W            frame  ...          style          casual
2  01DSE8Z2ZDAZKZ2SKCS1E3B3HK  banana republic  ...     shoe width          medium
4  01E2C3YN4KQ36A0REWZJ89ZN73   freda salvador  ...  primary color           black
5  01DVCVGDJQC4J8JJ35PKZ4J169            loewe  ...       category       accessory
7  01E223GDRKR84THXZ54GJEW60Y            vince  ...            fit        semi fit

[5 rows x 7 columns]

In [12]:
train = df[df['attribute_name'] != '']
train.shape

(90814, 7)

In [0]:
train.to_csv('/content/drive/My Drive/NLP/train.csv', index = False)

In [14]:
test = df[df['attribute_name'] == '']
test.shape

(44102, 7)

In [0]:
test.to_csv('/content/drive/My Drive/NLP/test.csv', index = False)

In [16]:
train[train['attribute_name'] == 'style']['attribute_value'].value_counts()

casual             3067
modern             2372
classic            1923
businesscasual     1132
androgynous        1080
edgy                919
romantic            765
boho                587
glam                582
athleisure          401
business casual     360
retro               295
Name: attribute_value, dtype: int64