<a href="https://colab.research.google.com/github/shashank-r97/NLP/blob/master/Style/LSTM_Glove.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#from google.colab import drive
#drive.mount('/content/drive')

In [0]:
#!pip install -U imbalanced-learn

In [3]:
import pandas as pd
import numpy as np
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.preprocessing.sequence import pad_sequences
from keras.models import Model, Sequential 
from keras.layers import Input, Masking
from keras.layers import Dense, Input, Reshape
from keras.layers import Dropout, Activation
from keras.layers import Dense, GlobalAveragePooling1D, Activation
from keras.layers import Flatten
from keras.layers import Dropout
from keras.layers import LSTM, SimpleRNN
from keras.layers import Embedding
import keras.backend as K 
from imblearn.combine import SMOTETomek
from sklearn.model_selection import train_test_split
from keras.optimizers import Adam
from keras.layers.convolutional import Conv1D
from keras.layers.merge import concatenate
from keras.layers.convolutional import MaxPooling1D
from sklearn.feature_extraction.text import TfidfVectorizer
from gensim.models.phrases import Phraser, Phrases

Using TensorFlow backend.

In [4]:
%%time
df = pd.read_csv('/content/drive/Shared drives/DSO 560 NLP Project/data.csv')
df = df[df['attribute_name'] == 'style'].drop(columns = ['attribute_name'])
df['attribute_value'] = df['attribute_value'].apply(lambda x: 'businesscasual' if x == 'business casual' else x)

CPU times: user 406 ms, sys: 72.1 ms, total: 478 ms
Wall time: 530 ms

In [5]:
df.head()

                    product_id  ...                                            details
0   01DPGV4YRP3Z8J85DASGZ1Y99W  ...                                                NaN
5   01DPH1DEN9G2WM7WAMJMD0A9W4  ...                                                NaN
12  01E2KYW52BAG606GQ7A9H5R0KD  ...                  xs 0 2 , s 4 6 , m 8 10 , l 12 14
13  01DT513RRYT3SKH6X25G5VCH6B  ...  fit small size , size large normal available s...
20  01E2KM0KW6NB1JKMZVRXR6H8G2  ...                  xs 0 2 , s 4 6 , m 8 10 , l 12 14

[5 rows x 7 columns]

In [0]:
df['text'] = (df['brand'] + ' ' + df['product_full_name'] + ' ' + df['description'] + ' ' + df['brand_category']).apply(str)

In [0]:
X = df['text'].values
y = pd.get_dummies(df['attribute_value'])
label_list = y.columns
y = y.values

In [0]:
tokenizer = Tokenizer(num_words=5000, oov_token="UNKNOWN_TOKEN")
tokenizer.fit_on_texts(X)

In [0]:
X = tokenizer.texts_to_sequences(X)

In [0]:
length = max([len(s.split()) for s in df['text']])
vocab_size = len(tokenizer.word_index) + 1

In [0]:
X = pad_sequences(X, maxlen=length, padding='post')

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 42)

In [0]:
resampler = SMOTETomek(sampling_strategy = 'auto')
X_train, y_train = resampler.fit_resample(X_train, y_train)

In [0]:
num_classes = y.shape[1]

In [15]:
def load_glove_vectors():
    embeddings_index = {}
    with open('/content/drive/My Drive/NLP/glove.6B.100d.txt') as f:
        for line in f:
            values = line.split()
            word = values[0]
            coefs = np.asarray(values[1:], dtype='float32')
            embeddings_index[word] = coefs
    print('Loaded %s word vectors.' % len(embeddings_index))
    return embeddings_index


embeddings_index = load_glove_vectors()

Loaded 400000 word vectors.

In [0]:
# create a weight matrix for words in training docs
embedding_matrix = np.zeros((vocab_size, 100))
for word, i in tokenizer.word_index.items():
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None: # check that it is an actual word that we have embeddings for
        embedding_matrix[i] = embedding_vector

In [0]:
def define_model():
    
    model = Sequential()
    model.add(Embedding(vocab_size, 100, weights=[embedding_matrix], input_length=length, trainable=False))
    #model.add(Masking(mask_value=0.0)) # masking layer, masks any words that don't have an embedding as 0s.
    LSTM(128, return_sequences=True, dropout=0.2, recurrent_dropout=0.15, activation = 'relu')
    LSTM(128, return_sequences=False, dropout=0.2, recurrent_dropout=0.15, activation = 'relu')
    model.add(Flatten())
    model.add(Dense(16, activation = 'relu'))
    model.add(Dense(num_classes, activation='sigmoid'))
    
    # Compile the model
    model.compile(
    optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
    
    return model

def define_model():
    inputs = Input(shape=(length1+length2,))
    #x1 = Conv1D(filters=num_classes, kernel_size=1, padding='valid')(inputs1)
    embedding = Embedding(input_dim=vocab_size1, output_dim=100)(inputs)

    #inputs2 = Input(shape=(length2,))
    #x2 = Conv1D(filters=num_classes, kernel_size=1, padding='valid')(inputs2)
    #dense2 = Dense(100, activation='relu')(inputs2)
    #embedding2 = Embedding(input_dim=vocab_size2, output_dim=100)(inputs2)

    #merged = concatenate([inputs1, inputs1])
    x = LSTM(16, return_sequences=True, dropout=0.2, recurrent_dropout=0.15)(embedding)

    #x = Dense(100, activation = 'relu')(inputs)


    x = Conv1D(filters=num_classes, kernel_size=1, padding='valid')(x)
    x = Conv1D(filters=num_classes, kernel_size=310, padding='valid')(x)
    x = Reshape((num_classes,))(x)
    #x = Dense(num_classes)(x)
    out = Activation('sigmoid')(x)

    model = Model(inputs = [inputs], outputs = out)

    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

    return model

In [18]:
model = define_model()
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 155, 100)          611400
_________________________________________________________________
flatten_1 (Flatten)          (None, 15500)             0
_________________________________________________________________
dense_1 (Dense)              (None, 16)                248016
_________________________________________________________________
dense_2 (Dense)              (None, 11)                187
=================================================================
Total params: 859,603
Trainable params: 248,203
Non-trainable params: 611,400
_________________________________________________________________

In [19]:
model.fit(X_train, y_train, validation_split=0.2, epochs=10, batch_size=512)

Train on 20366 samples, validate on 5092 samples
Epoch 1/10
20366/20366 [==============================] - 1s 29us/step - loss: 0.4936 - accuracy: 0.8162 - val_loss: 0.4063 - val_accuracy: 0.8937
Epoch 2/10
20366/20366 [==============================] - 0s 10us/step - loss: 0.3545 - accuracy: 0.8937 - val_loss: 0.3641 - val_accuracy: 0.9020
Epoch 3/10
20366/20366 [==============================] - 0s 10us/step - loss: 0.3063 - accuracy: 0.9093 - val_loss: 0.3720 - val_accuracy: 0.9090
Epoch 4/10
20366/20366 [==============================] - 0s 10us/step - loss: 0.2854 - accuracy: 0.9102 - val_loss: 0.3901 - val_accuracy: 0.9088
Epoch 5/10
20366/20366 [==============================] - 0s 9us/step - loss: 0.2756 - accuracy: 0.9108 - val_loss: 0.3995 - val_accuracy: 0.9079
Epoch 6/10
20366/20366 [==============================] - 0s 11us/step - loss: 0.2688 - accuracy: 0.9113 - val_loss: 0.4125 - val_accuracy: 0.9069
Epoch 7/10
20366/20366 [==============================] - 0s 10us/step - loss: 0.2633 - accuracy: 0.9116 - val_loss: 0.4239 - val_accuracy: 0.9068
Epoch 8/10
20366/20366 [==============================] - 0s 10us/step - loss: 0.2593 - accuracy: 0.9119 - val_loss: 0.4366 - val_accuracy: 0.9059
Epoch 9/10
20366/20366 [==============================] - 0s 11us/step - loss: 0.2559 - accuracy: 0.9123 - val_loss: 0.4459 - val_accuracy: 0.9055
Epoch 10/10
20366/20366 [==============================] - 0s 10us/step - loss: 0.2519 - accuracy: 0.9128 - val_loss: 0.4569 - val_accuracy: 0.9045

In [20]:
model.evaluate(X_test, y_test)

1089/1089 [==============================] - 0s 71us/step

[0.30308715042660717, 0.9044995903968811]

In [0]:
results = model.predict(X)

In [0]:
results_df = pd.DataFrame()
results_mask = results > 0.1
for i in range(len(label_list)):
    results_df[label_list[i]] = results_mask[:,i]
    results_df[label_list[i]] = results_df[label_list[i]].apply(int)

In [23]:
results_df['sum']  = 0
for key in label_list:
    results_df['sum'] = results_df['sum'] + results_df[key]
(results_df['sum'] == 0).sum()

26

In [24]:
results_df = results_df.drop(columns = ['sum'])
for key in label_list:
    results_df[key] = results_df[key].apply(lambda x: key if x == 1 else '')

results_df['attribute_value'] = ''
for key in label_list:
    results_df['attribute_value'] = results_df['attribute_value'] + ' ' + results_df[key]

results_df['attribute_value'] = results_df['attribute_value'].apply(lambda x: ', '.join(x.split()))
results_df.head()

   androgynous  ...                                    attribute_value
0  androgynous  ...  androgynous, boho, businesscasual, casual, cla...
1               ...      boho, businesscasual, casual, classic, modern
2               ...        athleisure, businesscasual, casual, classic
3  androgynous  ...            androgynous, businesscasual, edgy, glam
4               ...                                 athleisure, casual

[5 rows x 12 columns]

In [25]:
results_df['attribute_value'].value_counts()

androgynous, businesscasual, casual, classic, edgy                    1396
businesscasual, casual, classic, modern                                734
boho, casual, classic, modern                                          707
casual, classic, modern                                                515
boho, businesscasual, casual, classic, modern                          508
                                                                      ...
androgynous, boho, businesscasual, casual, edgy, modern, romantic        2
boho, businesscasual, casual, edgy                                       1
boho, casual, classic, edgy, modern                                      1
androgynous, athleisure, boho, businesscasual, classic, edgy, glam       1
athleisure, boho, businesscasual, casual, edgy, modern                   1
Name: attribute_value, Length: 240, dtype: int64